body {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.4em;

  max-width: 1000px;
  margin: 50px auto;
  padding: 0 1em;
}

h2 {
  margin-top: 2em;
}


/* Basic code block customization */

pre[class*="language-"],
code[class*="language-"] {
  white-space: pre-wrap;
  border-radius: 1em;
}

pre .walkthrough {
  border-radius: 1em;
}

pre .wt-btn {
  cursor: pointer;
  border: 0;
  background: rgba(255,255,255,0.8);
  padding: 0.2em 1em 0.5em;
  border-radius: 0.5em;
}




/* Custom Walkthrough element */

pre.custom-walkthrough .line-highlight {
  background: #4D3A4D;
}

pre.custom-walkthrough .walkthrough {
  background: #F0DDF0;
  color: black;
  flex-direction: column-reverse;
}

pre.custom-walkthrough .wt-text {
  padding: 1em 0 0 0;
}


@media (min-width: 550px) {
  pre.custom-walkthrough {
    width: 50%;
    overflow: visible;
  }

  pre.custom-walkthrough .walkthrough {
    width: 50%;
    position: absolute;
    top: 0;
    right: calc(-50% - 3em);
    margin: 0;
  }

}
